@font-face {
	font-family:"LatoRegular";
	src:url("../fonts/Lato-Regular.ttf");
}

@font-face {
	font-family:"LatoLight";
	src:url("../fonts/Lato-Light.ttf");
}

@font-face {
	font-family:"LatoItalic";
	src:url("../fonts/Lato-Italic.ttf");
}

@font-face {
	font-family:"LatoBold";
	src:url("../fonts/Lato-Bold.ttf");
}

@font-face {
	font-family:"DroidRegular";
	src:url("../fonts/Droid-Regular.ttf");
}
