* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

body {
  font-size: 18px;
  font-family: "Roboto-Light", "Arial", sans-serif;
  color: #a3a3a3;
  background-color: #242b2e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #b4b7b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%; }

.h2 {
  font-family: "Roboto-Thin", "Arial", sans-serif;
  font-size: 24px;
  color: black;
  margin-bottom: 20px; }

.h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 12px;
  font-family: "Roboto-Light", "Arial", sans-serif; }

.work .owl-nav, .singlepost .owl-nav {
  display: none; }

.work .owl-carousel, .singlepost .owl-carousel {
  width: 720px;
  position: relative; }

.work .owl-dots, .singlepost .owl-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 30px; }
  .work .owl-dots .owl-dot, .singlepost .owl-dots .owl-dot {
    width: 21px;
    height: 13px;
    background-color: #b6b6b6;
    border: 1px solid #e1e1e1;
    margin-right: 7px; }
    .work .owl-dots .owl-dot span, .singlepost .owl-dots .owl-dot span {
      display: none !important; }
    .work .owl-dots .owl-dot:last-child, .singlepost .owl-dots .owl-dot:last-child {
      margin-right: 0; }
  .work .owl-dots .active, .singlepost .owl-dots .active {
    background-color: #40bcba;
    border: 1px solid #6b6b6b; }

.g-button button {
  padding: 22px 29px 22px 29px;
  text-transform: uppercase;
  background-color: #1ab5b3;
  border: none;
  color: white;
  font-family: "Roboto-Thin", "Arial", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer; }

.mobile__menu {
  width: 90px;
  height: 90px;
  background-color: #1ab5b3;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  cursor: pointer;
  display: none;
  opacity: 0; }

.hamburger__line {
  width: 45px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s; }
  .hamburger__line:last-child {
    margin-bottom: 0; }

.opened {
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .opened .hamburger__middle {
    width: 0px;
    -webkit-transition: 1.3s;
    -o-transition: 1.3s;
    transition: 1.3s; }
  .opened .hamburger__top {
    -webkit-transform: rotate(45deg) translate(11px, 10px);
        -ms-transform: rotate(45deg) translate(11px, 10px);
            transform: rotate(45deg) translate(11px, 10px);
    width: 100%;
    -webkit-transition: 1.3s;
    -o-transition: 1.3s;
    transition: 1.3s; }
  .opened .hamburger__bottom {
    -webkit-transform: rotate(-45deg) translate(13px, -10px);
        -ms-transform: rotate(-45deg) translate(13px, -10px);
            transform: rotate(-45deg) translate(13px, -10px);
    width: 100%;
    -webkit-transition: 1.3s;
    -o-transition: 1.3s;
    transition: 1.3s; }

.header__logo {
  padding: 32px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__nav ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header__nav ul li {
    width: 100%;
    text-align: right;
    background: -webkit-gradient(linear, left bottom, left top, from(#333b3f), to(#2e363a));
    background: -webkit-linear-gradient(bottom, #333b3f 0%, #2e363a 100%);
    background: -o-linear-gradient(bottom, #333b3f 0%, #2e363a 100%);
    background: linear-gradient(0deg, #333b3f 0%, #2e363a 100%);
    border-bottom: 1px solid #293034; }
    .header__nav ul li:hover:not(.active) {
      background: -webkit-gradient(linear, left bottom, left top, from(#2e363a), to(#333b3f));
      background: -webkit-linear-gradient(bottom, #2e363a 0%, #333b3f 100%);
      background: -o-linear-gradient(bottom, #2e363a 0%, #333b3f 100%);
      background: linear-gradient(0deg, #2e363a 0%, #333b3f 100%); }
    .header__nav ul li a {
      color: white;
      display: block;
      text-transform: uppercase;
      padding: 25px 0;
      padding-right: 25px; }
  .header__nav ul .active {
    background: -webkit-gradient(linear, left bottom, left top, from(#31bdbb), to(#18a3a1));
    background: -webkit-linear-gradient(bottom, #31bdbb 0%, #18a3a1 100%);
    background: -o-linear-gradient(bottom, #31bdbb 0%, #18a3a1 100%);
    background: linear-gradient(0deg, #31bdbb 0%, #18a3a1 100%);
    border-bottom: 1px solid #169291; }

.main .wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.sidebar {
  width: 15.625%;
  background-color: #242b2e;
  z-index: 2;
  min-width: 300px;
  display: block;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.home__sidebar {
  -webkit-box-shadow: 28px -8px 28px rgba(1, 1, 1, 0.5);
          box-shadow: 28px -8px 28px rgba(1, 1, 1, 0.5); }

.header__logo {
  background-color: #FFF; }

.filter__content {
  border-top: 1px solid #202426;
  padding: 25px;
  border-bottom: 1px solid #1e282b;
  background-color: #242b2e; }

.filter__title {
  text-align: right;
  font-family: "Roboto-Thin", "Arial", sans-serif;
  font-size: 19px;
  color: #22adac;
  margin-bottom: 20px; }
  .filter__title i {
    font-size: 18px;
    margin-left: 12px; }

.filter__list {
  background-color: #242b2e; }
  .filter__list ul li {
    text-align: right;
    margin-bottom: 5px; }
    .filter__list ul li a {
      font-family: "Myriad", "Arial", sans-serif;
      font-size: 13px;
      color: #6b7072;
      text-shadow: 2px 2px 2px rgba(1, 1, 1, 0.5); }
  .filter__list ul .active a {
    color: white; }

.gallery {
  width: 84.375%;
  position: relative; }

.gallery__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .gallery__list li {
    background-color: #a3a3a3;
    width: 25%;
    display: block;
    height: 311px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center; }
    .gallery__list li a {
      display: block;
      height: 100%; }
      .gallery__list li a .gallery__description {
        display: none; }
      .gallery__list li a:hover .gallery__description {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
  .gallery__list li:nth-child(1) {
    background-image: url("../images/main__gallery-1.png"); }
  .gallery__list li:nth-child(2) {
    background-image: url("../images/main__gallery-2.jpg"); }
  .gallery__list li:nth-child(3) {
    background-image: url("../images/main__gallery-3.jpg"); }
  .gallery__list li:nth-child(4) {
    background-image: url("../images/main__gallery-4.jpg"); }
  .gallery__list li:nth-child(5) {
    background-image: url("../images/main__gallery-5.png"); }
  .gallery__list li:nth-child(6) {
    background-image: url("../images/main__gallery-6.jpg"); }
  .gallery__list li:nth-child(7) {
    background-image: url("../images/main__gallery-7.jpg"); }
  .gallery__list li:nth-child(8) {
    background-image: url("../images/main__gallery-8.jpg"); }
  .gallery__list li:nth-child(9) {
    background-image: url("../images/main__gallery-9.jpg"); }
  .gallery__list li:nth-child(10) {
    background-image: url("../images/main__gallery-10.jpg"); }
  .gallery__list li:nth-child(11) {
    background-image: url("../images/main__gallery-11.jpg"); }
  .gallery__list li:nth-child(12) {
    background-image: url("../images/main__gallery-12.jpg"); }
  .gallery__list li:nth-child(13) {
    background-image: url("../images/main__gallery-2.jpg"); }
  .gallery__list li:nth-child(14) {
    background-image: url("../images/main__gallery-7.jpg"); }
  .gallery__list li:nth-child(15) {
    background-image: url("../images/main__gallery-4.jpg"); }
  .gallery__list li:nth-child(16) {
    background-image: url("../images/main__gallery-5.png"); }

.gallery__description {
  background-color: rgba(45, 184, 183, 0.8);
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .gallery__description .gallery__title {
    font-size: 24px;
    color: white;
    font-family: "Roboto-Thin", "Arial", sans-serif;
    margin-bottom: 5px; }
  .gallery__description .gallery__category {
    font-size: 12px;
    color: white;
    font-family: "Roboto-Light", "Arial", sans-serif;
    padding-bottom: 16px;
    margin-bottom: 16px;
    position: relative; }
    .gallery__description .gallery__category::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #FFF;
      position: absolute;
      bottom: 0; }
  .gallery__description .gallery__button {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: white;
    border: 1px solid white;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.gallery__info {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 90px;
  background-color: #22adac;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10; }
  .gallery__info a {
    padding: 16px;
    border: 1px solid white;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .gallery__info i {
    background-color: #fff;
    padding: 3px 9px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: #22adac; }

.info__content {
  position: absolute;
  top: 90px;
  right: 0;
  background-color: rgba(51, 51, 51, 0.7);
  padding: 18px;
  padding-bottom: 23px;
  color: white;
  font-size: 16px;
  min-width: 283px;
  font-family: "Roboto-Thin", "Arial", sans-serif;
  display: none;
  z-index: 10; }
  .info__content i {
    font-size: 20px;
    margin-right: 12px; }

.info__tel, .info__mail {
  margin-bottom: 15px; }

.visible {
  display: block; }

.footer__content {
  padding-top: 28px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: #242b2e; }

.coopyright {
  font-family: "Myriad", "Arial", sans-serif;
  font-size: 12px;
  text-align: right;
  color: #6b7072; }

.social__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 24px; }
  .social__list .social {
    width: 24px;
    height: 24px;
    background-image: url("../images/social_sprite.png");
    margin-right: 8px;
    cursor: pointer; }
    .social__list .social a {
      display: block; }
    .social__list .social:last-child {
      margin-right: 0; }

.social-fb {
  background-position: -33px 0; }

.social-gp {
  background-position: -33px 0; }

.social-tw {
  background-position: -67px 0; }

.social-pp {
  background-position: -100px 0; }

.social-hz {
  background-position: -134px 0; }

.social-be {
  background-position: -167px 0; }

.social-td {
  background-position: 32px 0; }

.about {
  margin: 25px;
  background-color: #FFF;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.about__sidebar {
  -webkit-box-shadow: none;
          box-shadow: none; }

.about__left {
  width: 50%;
  padding: 30px;
  border-right: 1px solid #e5e5e5; }

.article__image {
  margin-bottom: 25px; }

.article__text {
  line-height: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative; }
  .article__text::after {
    content: "";
    background-color: #e5e5e5;
    height: 1px;
    position: absolute;
    width: 100%;
    bottom: 0; }
  .article__text p {
    margin-bottom: 20px; }
    .article__text p:last-child {
      margin-bottom: 0; }

.staff__gallery {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.staff__person {
  width: 31.4%;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 180px; }
  .staff__person img {
    height: 100%;
    width: 100%; }
  .staff__person:nth-child(3n) {
    margin-right: 0; }

.staff__title {
  font-family: "Roboto-Light", "Arial", sans-serif; }

.about__right {
  width: 50%;
  padding: 30px; }

.skills {
  margin-bottom: 30px; }

.skill__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px; }

.skill__name {
  font-size: 15px;
  color: #7e7e7e; }

.skill__percent {
  font-size: 14px;
  color: black; }

.skill {
  margin-bottom: 20px; }

.skill__load {
  height: 35px;
  background-color: transparent;
  border: 1px solid #ececec;
  position: relative; }
  .skill__load:last-child {
    margin-bottom: 0; }

.skill__load-inner {
  width: 0%;
  height: 100%;
  background-color: #e2e2e2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.testimonials__top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  border: 1px solid #ececec; }

.testimonials__image img {
  max-width: 80px; }

.testimonials__name {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1ab5b3;
  color: white;
  font-family: "Myriad", "Arial", sans-serif;
  font-size: 15px;
  padding: 0 20px; }

.testimonials__text {
  padding: 18px 30px;
  font-family: "Myriad", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px; }

.about__services ul li {
  padding-left: 12px;
  position: relative; }
  .about__services ul li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #848484;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%; }
  .about__services ul li a {
    font-size: 14px;
    line-height: 28px;
    color: #848484; }

.about__services-title {
  font-family: "Roboto-Light", "Arial", sans-serif; }

.work {
  margin: 25px;
  margin-bottom: 30px;
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.work__left {
  width: 50%;
  padding: 30px;
  border-right: 1px solid #e5e5e5; }

.work__slider {
  margin-bottom: 20px; }

.work__sand {
  margin-bottom: 30px; }

.sand__title {
  font-family: "Roboto-Light", "Arial", sans-serif; }

.sand__text {
  line-height: 30px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e5e5e5; }
  .sand__text p {
    margin-bottom: 18px; }
    .sand__text p:last-child {
      margin-bottom: 0; }

.related__image {
  width: 33.33%;
  max-height: 182px; }
  .related__image img {
    width: 100%;
    height: 100%; }

.related__title {
  font-family: "Roboto-Light", "Arial", sans-serif; }

.related__images {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.work__right {
  width: 50%;
  padding: 30px; }

.info {
  margin-bottom: 30px; }
  .info .info__title {
    font-family: "Roboto-Light", "Arial", sans-serif; }
  .info .info__flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #e5e5e5; }
  .info .info__icon {
    margin-right: 14px;
    font-size: 12px;
    color: #1ab5b3;
    border: 1px solid #1ab5b3;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 32px;
    text-align: center;
    line-height: 32px;
    height: 32px; }
  .info .info__text {
    font-size: 14px;
    color: #848484; }

.tags {
  margin-bottom: 30px; }

.tag {
  margin-right: 10px; }
  .tag:last-child {
    margin-right: 0; }
  .tag a {
    font-size: 13px;
    color: #a3a3a3;
    border: 1px solid #dbdbdb;
    padding: 12px 16px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    display: block;
    margin-bottom: 10px; }

.tags__title {
  font-family: "Roboto-Light", "Arial", sans-serif; }

.tags__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.project__gallery-image {
  width: 78px;
  height: 78px;
  margin-bottom: 10px;
  margin-right: 10px; }
  .project__gallery-image img {
    height: 100%; }
  .project__gallery-image:last-child {
    margin-right: 0; }

.project__gallery-images {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 20px; }

.features__list ul li {
  font-size: 14px;
  color: #848484;
  margin-bottom: 15px; }
  .features__list ul li:last-child {
    margin-bottom: 0; }
  .features__list ul li i {
    margin-right: 7px; }

.features__title {
  font-family: "Roboto-Light", "Arial", sans-serif; }

.map {
  width: 100%; }
  .map iframe {
    opacity: .5; }

.map__content {
  position: relative; }

.map__form {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: white;
  max-width: 44.6%;
  padding: 30px;
  padding-top: 25px; }

.form__top {
  margin-bottom: 25px; }

.form__title {
  font-family: "Roboto-Light", "Arial", sans-serif; }

.form__text {
  line-height: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5; }

.contacts__form, .singlepost__form {
  color: #a5a5a5;
  font-size: 14px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__input {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__icon {
  padding: 12px;
  border: 1px solid #eaeaea; }
  .form__icon i {
    font-size: 12px;
    color: #1ab5b3;
    border: 1px solid #1ab5b3;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 32px;
    text-align: center;
    line-height: 32px;
    height: 32px; }

.form__input {
  margin-bottom: 10px; }
  .form__input input {
    border: 1px solid #eaeaea;
    border-left: none;
    padding: 0 16px;
    width: 100%; }
  .form__input:last-child {
    margin-bottom: 0; }

.form__bottom-left {
  margin-right: 10px;
  width: 44.48%; }

.form__bottom-right {
  width: 55%; }

.form__message {
  height: 130px;
  width: 100%;
  margin-bottom: 6px;
  border: 1px solid #eaeaea;
  padding-top: 22px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form__button {
  background-color: #1ab5b3;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: white;
  height: 100%;
  max-height: 60px; }

.blog {
  width: 100%;
  position: relative;
  background-color: #FFF; }

.blog__content {
  margin: 25px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.blog__columns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blog__column {
  margin-right: 25px;
  width: 100%; }

.blog__post {
  margin-bottom: 25px; }
  .blog__post:last-child {
    margin-right: 0; }

.post__slider {
  max-width: 300px;
  position: relative; }

.post__slide {
  height: 220px; }
  .post__slide img {
    height: 100%;
    width: 100%; }

.post__slider-big .post__slide {
  height: 265px; }

.post__image {
  background-color: #fff; }

.post__description {
  background-color: #fff; }

.post__text {
  font-size: 13px;
  line-height: 22px;
  color: #9c9c9c;
  padding: 20px;
  padding-top: 0; }

.post__title {
  padding: 20px;
  padding-bottom: 0; }

.post__functions {
  border-top: 1px solid #e3e3e3;
  padding: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #9a9a9a;
  font-size: 13px; }
  .post__functions i {
    font-size: 14px;
    margin-right: 10px;
    color: #818181; }

.post__comments {
  margin-right: 18px; }

.blog__post-link {
  background-color: #1ab5b3;
  padding: 38px 20px;
  color: white;
  font-size: 18px;
  font-family: "Roboto-Light", "Arial", sans-serif;
  text-align: center; }

.link__text {
  margin-bottom: 8px; }

.link__link a {
  font-family: "Roboto-Bold", "Arial", sans-serif;
  color: white;
  font-style: italic;
  font-size: 14px; }

.blog__post-photo {
  min-height: 260px;
  position: relative; }
  .blog__post-photo img {
    height: 100%;
    width: 100%; }
  .blog__post-photo:hover .blog__photo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.blog__photo {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 184, 183, 0.8);
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none; }
  .blog__photo i {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: white;
    border: 1px solid white;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.blog__post-aside {
  background-color: #242b2e;
  border-left: 14px solid #1ab5b3;
  padding: 25px 22px 22px 22px; }

.aside__article {
  font-size: 21px;
  color: white;
  margin-bottom: 10px; }

.aside__text {
  font-size: 14px;
  color: #9c9c9c;
  line-height: 24px; }

.blog__post-quote {
  background-color: #242b2e;
  padding: 35px 26px 32px 28px; }

.quote__text {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px; }

.quote__author {
  font-size: 18px;
  color: #1ab5b3;
  text-align: center;
  padding-top: 32px;
  position: relative; }
  .quote__author::before {
    content: "";
    width: 24px;
    height: 17px;
    position: absolute;
    top: 0;
    left: 50%;
    background-image: url("../images/quote.png");
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.singlepost {
  margin: 25px;
  background-color: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .singlepost::after {
    content: "";
    width: 2px;
    height: -webkit-calc(100% - 55px);
    height: calc(100% - 55px);
    background-color: #e5e5e5;
    position: absolute;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 11; }

.singlepost__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.singlepost__left, .singlepost__right {
  width: 50%;
  padding: 30px;
  padding-bottom: 0; }

.archives__list ul li {
  margin-bottom: 14px; }
  .archives__list ul li a {
    font-size: 14px;
    color: #848484; }
    .archives__list ul li a:last-child {
      margin-bottom: 0; }

.singlepost__functions {
  width: 50%;
  padding: 30px;
  padding-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.singlepost__comments {
  width: 50%;
  padding: 30px;
  padding-top: 0;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5; }

.comments__title {
  font-size: 24px;
  color: black;
  margin-bottom: 24px; }

.comments__comment {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }
  .comments__comment:last-child {
    margin-bottom: 0; }

.comment__left {
  margin-right: 20px; }
  .comment__left img {
    min-width: 80px;
    min-height: 80px;
    display: block; }

.comment__right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.comment__top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  position: relative; }
  .comment__top::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 180px;
    background-color: #e5e5e5;
    bottom: 0;
    left: 0; }

.comment__name {
  color: #3c3c3c;
  font-size: 14px;
  margin-right: 5px; }

.comment__date {
  font-size: 14px;
  color: #d1d1d1; }

.comment__text {
  padding-top: 12px; }

.comment__reply {
  margin-left: -webkit-calc(100px - 60px);
  margin-left: calc(100px - 60px); }
  .comment__reply .comment__left {
    position: relative;
    padding-left: 60px; }
    .comment__reply .comment__left::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border-bottom: 1px solid #dddddd;
      left: 0;
      top: 0; }

.comment__reply:nth-child(2) {
  margin-left: -webkit-calc(100px - 60px);
  margin-left: calc(100px - 60px); }

.comment__reply:nth-child(3n) {
  margin-left: -webkit-calc(200px - 60px);
  margin-left: calc(200px - 60px); }

.comment__reply:nth-child(4n) {
  margin-left: -webkit-calc(300px - 60px);
  margin-left: calc(300px - 60px); }

.comment__reply:nth-child(5n) {
  margin-left: -webkit-calc(200px - 60px);
  margin-left: calc(200px - 60px); }

.comment__reply:nth-child(6n) {
  margin-left: -webkit-calc(100px - 60px);
  margin-left: calc(100px - 60px); }

.comment__reply:nth-child(7n) {
  margin-left: -webkit-calc(0px - 60px);
  margin-left: calc(0px - 60px); }
  .comment__reply:nth-child(7n) .comment__left::before {
    display: none; }
